In [1]:
import pandas as pd

In [7]:
stock_data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\prototype\new_prototype\stock_df.csv')
stock_data.head()

         date     Open     Close    Change
0  2025-03-03  3915.44  3917.741  0.058793
1  2025-02-28  3913.54  3915.439  0.048601
2  2025-02-27  3908.73  3913.537  0.122904
3  2025-02-26  3910.01  3908.733 -0.032736
4  2025-02-25  3920.37  3910.013 -0.264057

In [8]:
aggregated_data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\prototype\new_prototype\aggregated_data.csv')
aggregated_data.head()

         date  majority_sentiment  average_sentiment
0  2019-02-26                   0           0.824267
1  2019-02-27                   2           0.882053
2  2019-02-28                   2           0.947680
3  2019-03-01                   1           0.972589
4  2019-03-04                   2           0.936579

In [10]:
# join the aggregated data with the stock data
merged_data = pd.merge(stock_data, aggregated_data, on='date')
merged_data.head()

,date,Open,Close,Change,majority_sentiment,average_sentiment
0,2025-02-28,3913.54,3915.439,0.048601,2,0.890644
1,2025-02-27,3908.73,3913.537,0.122904,2,0.954200
2,2025-02-26,3910.01,3908.733,-0.032736,0,0.812788
3,2025-02-25,3920.37,3910.013,-0.264057,2,0.835742
4,2025-02-24,3883.52,3920.365,0.948727,2,0.809047

In [11]:
import os

pwd = os.getcwd()

In [12]:
merged_data.to_csv(fr'{pwd}/merged_data.csv', index=False)