In [1]:
import pandas as pd

In [2]:
stock_data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\FINAL\european\stock_df.csv')
stock_data.head()

         date     Open     Close    Change
0  2025-03-03  3915.44  3917.741  0.058793
1  2025-02-28  3913.54  3915.439  0.048601
2  2025-02-27  3908.73  3913.537  0.122904
3  2025-02-26  3910.01  3908.733 -0.032736
4  2025-02-25  3920.37  3910.013 -0.264057

In [4]:
aggregated_data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\FINAL\european\aggregated_sentiment.csv')
aggregated_data.head()

         date majority_sentiment  average_sentiment
0  2007-10-03            neutral           0.782351
1  2007-12-05            neutral           0.669374
2  2008-01-16            neutral           0.873376
3  2008-02-13            neutral           0.750085
4  2008-02-27            neutral           0.814265

In [5]:
# join the aggregated data with the stock data
merged_data = pd.merge(stock_data, aggregated_data, on='date')
merged_data.head()

,date,Open,Close,Change,majority_sentiment,average_sentiment
0,2025-02-19,3820.56,3826.774,0.162777,negative,0.711748
1,2025-02-14,3795.63,3787.966,-0.202022,neutral,0.518905
2,2025-02-03,3759.19,3779.815,0.548736,negative,0.793771
3,2025-01-30,3729.03,3729.510,0.012899,negative,0.856193
4,2025-01-29,3740.03,3729.029,-0.294142,negative,0.783015

In [6]:
import os

pwd = os.getcwd()

In [8]:
merged_data.to_csv(fr'{pwd}/merged_data.csv', index=False)