In [12]:
import pandas as pd
import numpy as np

# Load the data
data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\data\index_MSEPRX.csv')

data.head()

,Date,Index,Change,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2025-01-10,3736.886,-0.66,NaN,NaN,NaN,NaN
1,2025-01-09,3761.777,-0.09,NaN,NaN,NaN,NaN
2,2025-01-08,3765.056,0.28,NaN,NaN,NaN,NaN
3,2025-01-07,3754.615,1.28,NaN,NaN,NaN,NaN
4,2025-01-06,3707.014,-1.36,NaN,NaN,NaN,NaN

In [13]:
data.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], inplace=True)

data.head()

         Date     Index  Change
0  2025-01-10  3736.886   -0.66
1  2025-01-09  3761.777   -0.09
2  2025-01-08  3765.056    0.28
3  2025-01-07  3754.615    1.28
4  2025-01-06  3707.014   -1.36

In [14]:
finbert_data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\data\maltabusinessweeklyArticles.csv')

finbert_data.head()

# extract the date from the date column
finbert_data['date'] = pd.to_datetime(finbert_data['date'])
finbert_data['date'] = finbert_data['date'].dt.date

finbert_data.head()

,headline,url,description,date,sentiment,sentiment_score
0,Gozo’s economic growth must continue to result...,https://maltabusinessweekly.com/gozos-economic...,Prime Minister Robert Abela said that Gozo is ...,2025-01-11,positive,0.733871
1,€1.6 billion to be invested in pensions and so...,https://maltabusinessweekly.com/e1-6-billion-t...,€1.6 billion is set to be spent on pensions an...,2025-01-10,neutral,0.513142
2,Italy approves permit for the development of M...,https://maltabusinessweekly.com/italy-approves...,Italy's Environment Ministry has given its las...,2025-01-10,neutral,0.593185
3,"Inflation, environment main concerns for Malte...",https://maltabusinessweekly.com/inflation-envi...,Inflation and the environment are the major co...,2024-12-19,neutral,0.927772
4,How the stock market defied expectations again...,https://maltabusinessweekly.com/how-the-stock-...,What a wonderful year 2024 has been for invest...,2024-12-26,positive,0.802241