In [52]:
import pandas as pd
import numpy as np

# Load the data
data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\data\index_MSEPRX.csv')

data.head()

,Date,Index,Change,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2025-01-10,3736.886,-0.66,NaN,NaN,NaN,NaN
1,2025-01-09,3761.777,-0.09,NaN,NaN,NaN,NaN
2,2025-01-08,3765.056,0.28,NaN,NaN,NaN,NaN
3,2025-01-07,3754.615,1.28,NaN,NaN,NaN,NaN
4,2025-01-06,3707.014,-1.36,NaN,NaN,NaN,NaN

In [53]:
data.drop(columns=['Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6'], inplace=True)

data.head()

         Date     Index  Change
0  2025-01-10  3736.886   -0.66
1  2025-01-09  3761.777   -0.09
2  2025-01-08  3765.056    0.28
3  2025-01-07  3754.615    1.28
4  2025-01-06  3707.014   -1.36

In [54]:
finbert_data = pd.read_csv(fr'C:\Users\ivane\Desktop\Dissertation\data\maltabusinessweeklyArticles.csv')

finbert_data.head()

# extract the date from the date column
finbert_data['date'] = pd.to_datetime(finbert_data['date'])
finbert_data['date'] = finbert_data['date'].dt.date
finbert_data_new = finbert_data.drop(columns=['headline', 'url', 'description'])

finbert_data_new.head()

         date sentiment  sentiment_score
0  2025-01-11  positive         0.733871
1  2025-01-10   neutral         0.513142
2  2025-01-10   neutral         0.593185
3  2024-12-19   neutral         0.927772
4  2024-12-26  positive         0.802241

In [55]:
# get majority sentiment for each date

# Group by date and get the most common sentiment for each date
majority_sentiment = finbert_data_new.groupby('date')['sentiment'].agg(lambda x: x.value_counts().index[0]).reset_index()

# Calculate mean sentiment score for each date 
mean_sentiment_score = finbert_data_new.groupby('date')['sentiment_score'].mean().reset_index()

# Merge the majority sentiment and mean sentiment score
finbert_data_aggregated = pd.merge(majority_sentiment, mean_sentiment_score, on='date')

finbert_data_aggregated.head(10)

         date sentiment  sentiment_score
0  2021-09-23  positive         0.922082
1  2021-09-24   neutral         0.890387
2  2021-09-27  positive         0.727195
3  2021-09-28   neutral         0.697538
4  2021-09-30  positive         0.860681
5  2021-10-01  positive         0.767713
6  2021-10-03   neutral         0.569838
7  2021-10-05   neutral         0.767535
8  2021-10-06   neutral         0.908943
9  2021-10-07  positive         0.807491

In [56]:
# Convert data's Date column to datetime.date format to match finbert_data_aggregated
data['Date'] = pd.to_datetime(data['Date']).dt.date

# Merge the two dataframes on date, using an inner join to keep only matching dates
merged_data = pd.merge(data, finbert_data_aggregated, 
                      left_on='Date', 
                      right_on='date', 
                      how='inner')

# Drop the redundant date column
merged_data.drop('date', axis=1, inplace=True)

# Display the first few rows of the merged dataset
merged_data.head()

         Date     Index  Change sentiment  sentiment_score
0  2025-01-10  3736.886   -0.66   neutral         0.700804
1  2024-12-19  3708.531   -1.93   neutral         0.950467
2  2024-12-18  3781.551    0.18  positive         0.460880
3  2024-12-16  3765.163    0.45  positive         0.771217
4  2024-12-12  3748.267    0.10  positive         0.927686